In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

%matplotlib inline
plt.style.use('ggplot')

In [3]:
df = pd.read_csv('athlete_events.csv')
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
df_OLY_all = df[df['Sport'].str.contains('Basketball', regex=True)]
df_OLY_all.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
167,69,Tamara Abalde Daz,F,19.0,185.0,72.0,Spain,ESP,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Women's Basketball,NaN
250,124,Youssef Mohamed Abbas,M,31.0,NaN,NaN,Egypt,EGY,1952 Summer,1952,Summer,Helsinki,Basketball,Basketball Men's Basketball,NaN
264,136,Alessandro Abbio,M,29.0,195.0,85.0,Italy,ITA,2000 Summer,2000,Summer,Sydney,Basketball,Basketball Men's Basketball,NaN
346,192,Ahmed El-Sayed Abdel Hamid Mobarak,M,25.0,189.0,85.0,Egypt,EGY,1972 Summer,1972,Summer,Munich,Basketball,Basketball Men's Basketball,NaN

In [5]:
df_OLY = df_OLY_all[df_OLY_all['Team']=='China']
df_OLY.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
11690,6381,Ba Yan,F,21.0,183.0,78.0,China,CHN,1984 Summer,1984,Summer,Los Angeles,Basketball,Basketball Women's Basketball,Bronze
21295,11239,Bian Lan,F,17.0,180.0,73.0,China,CHN,2004 Summer,2004,Summer,Athina,Basketball,Basketball Women's Basketball,NaN
21296,11239,Bian Lan,F,21.0,180.0,73.0,China,CHN,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Women's Basketball,NaN
39283,20211,Chen Jianghua,M,19.0,187.0,73.0,China,CHN,2008 Summer,2008,Summer,Beijing,Basketball,Basketball Men's Basketball,NaN

In [6]:
df_OLY.dtypes

ID          int64
Name       object
Sex        object
Age       float64
Height    float64
Weight    float64
Team       object
NOC        object
Games      object
Year        int64
Season     object
City       object
Sport      object
Event      object
Medal      object
dtype: object

In [7]:
df_OLY.loc[:,'Year'] = pd.to_datetime(df_OLY.loc[:,'Year'])
df_OLY.dtypes

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

ID                 int64
Name              object
Sex               object
Age              float64
Height           float64
Weight           float64
Team              object
NOC               object
Games             object
Year      datetime64[ns]
Season            object
City              object
Sport             object
Event             object
Medal             object
dtype: object

In [8]:
df_OLY

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1970-01-01 00:00:00.000001992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
11690,6381,Ba Yan,F,21.0,183.0,78.0,China,CHN,1984 Summer,1970-01-01 00:00:00.000001984,Summer,Los Angeles,Basketball,Basketball Women's Basketball,Bronze
21295,11239,Bian Lan,F,17.0,180.0,73.0,China,CHN,2004 Summer,1970-01-01 00:00:00.000002004,Summer,Athina,Basketball,Basketball Women's Basketball,NaN
21296,11239,Bian Lan,F,21.0,180.0,73.0,China,CHN,2008 Summer,1970-01-01 00:00:00.000002008,Summer,Beijing,Basketball,Basketball Women's Basketball,NaN
39283,20211,Chen Jianghua,M,19.0,187.0,73.0,China,CHN,2008 Summer,1970-01-01 00:00:00.000002008,Summer,Beijing,Basketball,Basketball Men's Basketball,NaN
39284,20211,Chen Jianghua,M,23.0,187.0,73.0,China,CHN,2012 Summer,1970-01-01 00:00:00.000002012,Summer,London,Basketball,Basketball Men's Basketball,NaN
39311,20225,Chen Ke,M,25.0,204.0,104.0,China,CHN,2004 Summer,1970-01-01 00:00:00.000002004,Summer,Athina,Basketball,Basketball Men's Basketball,NaN
39343,20241,Chen Luyun,F,27.0,188.0,73.0,China,CHN,2004 Summer,1970-01-01 00:00:00.000002004,Summer,Athina,Basketball,Basketball Women's Basketball,NaN
39352,20245,Chen Nan,F,21.0,195.0,94.0,China,CHN,2004 Summer,1970-01-01 00:00:00.000002004,Summer,Athina,Basketball,Basketball Women's Basketball,NaN
39353,20245,Chen Nan,F,25.0,195.0,94.0,China,CHN,2008 Summer,1970-01-01 00:00:00.000002008,Summer,Beijing,Basketball,Basketball Women's Basketball,NaN
39354,20245,Chen Nan,F,29.0,195.0,94.0,China,CHN,2012 Summer,1970-01-01 00:00:00.000002012,Summer,London,Basketball,Basketball Women's Basketball,NaN
39355,20245,Chen Nan,F,33.0,195.0,94.0,China,CHN,2016 Summer,1970-01-01 00:00:00.000002016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN
39430,20290,Chen Xiaojia,F,28.0,182.0,68.0,China,CHN,2016 Summer,1970-01-01 00:00:00.000002016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN
39432,20292,Chen Xiaoli,F,26.0,193.0,78.0,China,CHN,2008 Summer,1970-01-01 00:00:00.000002008,Summer,Beijing,Basketball,Basketball Women's Basketball,NaN
39433,20292,Chen Xiaoli,F,30.0,193.0,78.0,China,CHN,2012 Summer,1970-01-01 00:00:00.000002012,Summer,London,Basketball,Basketball Women's Basketball,NaN
39497,20323,Chen Yuefang,F,21.0,205.0,104.0,China,CHN,1984 Summer,1970-01-01 00:00:00.000001984,Summer,Los Angeles,Basketball,Basketball Women's Basketball,Bronze
40080,20615,Chia Chungchang,M,NaN,NaN,NaN,China,CHN,1948 Summer,1970-01-01 00:00:00.000001948,Summer,London,Basketball,Basketball Men's Basketball,NaN
41403,21354,Chu Hui,F,27.0,187.0,78.0,China,CHN,1996 Summer,1970-01-01 00:00:00.000001996,Summer,Atlanta,Basketball,Basketball Women's Basketball,NaN
41422,21366,Chua Bonhua,M,NaN,NaN,NaN,China,CHN,1948 Summer,1970-01-01 00:00:00.000001948,Summer,London,Basketball,Basketball Men's Basketball,NaN
43979,22659,Cong Xuedi,F,21.0,166.0,58.0,China,CHN,1984 Summer,1970-01-01 00:00:00.000001984,Summer,Los Angeles,Basketball,Basketball Women's Basketball,Bronze
43980,22659,Cong Xuedi,F,25.0,166.0,58.0,China,CHN,1988 Summer,1970-01-01 00:00:00.000001988,Summer,Seoul,Basketball,Basketball Women's Basketball,NaN
43981,22659,Cong Xuedi,F,29.0,166.0,58.0,China,CHN,1992 Summer,1970-01-01 00:00:00.000001992,Summer,Barcelona,Basketball,Basketball Women's Basketball,Silver
55921,28660,Ding Jinhui,M,22.0,204.0,100.0,China,CHN,2012 Summer,1970-01-01 00:00:00.000002012,Summer,London,Basketball,Basketball Men's Basketball,NaN
55928,28664,Ding Yanyuhang,M,22.0,200.0,91.0,China,CHN,2016 Summer,1970-01-01 00:00:00.000002016,Summer,Rio de Janeiro,Basketball,Basketball Men's Basketball,NaN
58964,30177,Du Feng,M,23.0,207.0,92.0,China,CHN,2004 Summer,1970-01-01 00:00:00.000002004,Summer,Athina,Basketball,Basketball Men's Basketball,NaN
58965,30177,Du Feng,M,27.0,207.0,92.0,China,CHN,2008 Summer,1970-01-01 00:00:00.000002008,Summer,Beijing,Basketball,Basketball Men's Basketball,NaN
67716,34615,Feng Niehhwa,M,22.0,NaN,NaN,China,CHN,1936 Summer,1970-01-01 00:00:00.000001936,Summer,Berlin,Basketball,Basketball Men's Basketball,NaN
75681,38422,Gao Song,F,20.0,190.0,85.0,China,CHN,2012 Summer,1970-01-01 00:00:00.000002012,Summer,London,Basketball,Basketball Women's Basketball,NaN
75682,38422,Gao Song,F,24.0,190.0,85.0,China,CHN,2016 Summer,1970-01-01 00:00:00.000002016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN
81597,41421,Gong Luming,M,31.0,174.0,75.0,China,CHN,1988 Summer,1970-01-01 00:00:00.000001988,Summer,Seoul,Basketball,Basketball Men's Basketball,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268808,134487,Zhang Jinsong,M,30.0,198.0,101.0,China,CHN,2004 Summer,1970-01-01 00:00:00.000002004,Summer,Athina,Basketball,Basketball Men's Basketball,NaN
268906,134536,Zhang Qingpeng,M,23.0,187.0,85.0,China,CHN,2008 Summer,1970-01-01 00:00:00.000002008,Summer,Beijing,Basketball,Basketball Men's Basketball,NaN
268935,134554,Zhang Wei,F,22.0,184.0,70.0,China,CHN,2008 Summer,1970-01-01 00:00:00.000002008,Summer,Beijing,Basketball,Basketball Women's Basketball,NaN
268971,134571,Zhang Xiaoni,F,24.0,193.0,85.0,China,CHN,2008 Summer,1970-01-01 00:00:00.000002008,Summer,Beijing,Basketball,Basketball Women's Basketball,NaN
268992,134586,Zhang Xuelei,M,25.0,201.0,92.0,China,CHN,1988 Summer,1970-01-01 00:00:00.000001988,Summer,Seoul,Basketball,Basketball Men's Basketball,NaN
269036,134608,Zhang Yongjun,M,25.0,186.0,85.0,China,CHN,1988 Summer,1970-01-01 00:00:00.000001988,Summer,Seoul,Basketball,Basketball Men's Basketball,NaN
269037,134608,Zhang Yongjun,M,29.0,186.0,85.0,China,CHN,1992 Summer,1970-01-01 00:00:00.000001992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
269040,134611,Zhang Yu,F,22.0,184.0,69.0,China,CHN,2008 Summer,1970-01-01 00:00:00.000002008,Summer,Beijing,Basketball,Basketball Women's Basketball,NaN
269043,134614,Zhang Yueqin,F,24.0,180.0,76.0,China,CHN,1984 Summer,1970-01-01 00:00:00.000001984,Summer,Los Angeles,Basketball,Basketball Women's Basketball,Bronze
269049,134618,Zhang Yunsong,M,27.0,182.0,82.0,China,CHN,2004 Summer,1970-01-01 00:00:00.000002004,Summer,Athina,Basketball,Basketball Men's Basketball,NaN
269053,134621,Zhang Zhaoxu,M,24.0,221.0,110.0,China,CHN,2012 Summer,1970-01-01 00:00:00.000002012,Summer,London,Basketball,Basketball Men's Basketball,NaN
269098,134649,Zhao Jiwei,M,20.0,185.0,80.0,China,CHN,2016 Summer,1970-01-01 00:00:00.000002016,Summer,Rio de Janeiro,Basketball,Basketball Men's Basketball,NaN
269118,134664,Zhao Shuang,F,22.0,184.0,70.0,China,CHN,2012 Summer,1970-01-01 00:00:00.000002012,Summer,London,Basketball,Basketball Women's Basketball,NaN
269124,134669,Zhao Wei,F,25.0,178.0,68.0,China,CHN,1988 Summer,1970-01-01 00:00:00.000001988,Summer,Seoul,Basketball,Basketball Women's Basketball,NaN
269151,134684,Zhao Zhifang,F,21.0,168.0,57.0,China,CHN,2016 Summer,1970-01-01 00:00:00.000002016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN
269242,134727,Zheng Dongmei,F,24.0,173.0,60.0,China,CHN,1992 Summer,1970-01-01 00:00:00.000001992,Summer,Barcelona,Basketball,Basketball Women's Basketball,Silver
269243,134727,Zheng Dongmei,F,28.0,173.0,60.0,China,CHN,1996 Summer,1970-01-01 00:00:00.000001996,Summer,Atlanta,Basketball,Basketball Women's Basketball,NaN
269244,134728,Zheng Haixia,F,17.0,204.0,115.0,China,CHN,1984 Summer,1970-01-01 00:00:00.000001984,Summer,Los Angeles,Basketball,Basketball Women's Basketball,Bronze
269245,134728,Zheng Haixia,F,21.0,204.0,115.0,China,CHN,1988 Summer,1970-01-01 00:00:00.000001988,Summer,Seoul,Basketball,Basketball Women's Basketball,NaN
269246,134728,Zheng Haixia,F,25.0,204.0,115.0,China,CHN,1992 Summer,1970-01-01 00:00:00.000001992,Summer,Barcelona,Basketball,Basketball Women's Basketball,Silver
269247,134728,Zheng Haixia,F,29.0,204.0,115.0,China,CHN,1996 Summer,1970-01-01 00:00:00.000001996,Summer,Atlanta,Basketball,Basketball Women's Basketball,NaN
269278,134741,Zheng Wu,M,28.0,198.0,90.0,China,CHN,1996 Summer,1970-01-01 00:00:00.000001996,Summer,Atlanta,Basketball,Basketball Men's Basketball,NaN
269279,134741,Zheng Wu,M,33.0,198.0,90.0,China,CHN,2000 Summer,1970-01-01 00:00:00.000002000,Summer,Sydney,Basketball,Basketball Men's Basketball,NaN
269401,134806,Zhou Peng,M,22.0,206.0,102.0,China,CHN,2012 Summer,1970-01-01 00:00:00.000002012,Summer,London,Basketball,Basketball Men's Basketball,NaN
269402,134806,Zhou Peng,M,26.0,206.0,102.0,China,CHN,2016 Summer,1970-01-01 00:00:00.000002016,Summer,Rio de Janeiro,Basketball,Basketball Men's Basketball,NaN
269409,134808,Zhou Qi,M,20.0,217.0,95.0,China,CHN,2016 Summer,1970-01-01 00:00:00.000002016,Summer,Rio de Janeiro,Basketball,Basketball Men's Basketball,NaN
269474,134838,Zhu Fangyu,M,21.0,201.0,100.0,China,CHN,2004 Summer,1970-01-01 00:00:00.000002004,Summer,Athina,Basketball,Basketball Men's Basketball,NaN
269475,134838,Zhu Fangyu,M,25.0,201.0,100.0,China,CHN,2008 Summer,1970-01-01 00:00:00.000002008,Summer,Beijing,Basketball,Basketball Men's Basketball,NaN
269476,134838,Zhu Fangyu,M,29.0,201.0,100.0,China,CHN,2012 Summer,1970-01-01 00:00:00.000002012,Summer,London,Basketball,Basketball Men's Basketball,NaN
270444,135273,Zou Yuchen,M,20.0,203.0,107.0,China,CHN,2016 Summer,1970-01-01 00:00:00.000002016,Summer,Rio de Janeiro,Basketball,Basketball Men's Basketball,NaN